html
  head
    link(rel="stylesheet" href="/style.css")
  body
    center
    h1 Garage Door API Documentation 
    p A list of the available routes for this API and their function
    hr
    h2 GET '/doors'
    p This GET route will return a list of all available garage doors
    p Route: http://localhost:1337/doors
    p Expected Output:
      div
      pre
      | [{
      |   id: 1
      |   doorModel: Advantage
      |   doorStyle: Raised Panel
      |   doorMaterial: Steel
      |   rValue: 7
      |   costMeter: $$
      | }]
    hr
    h2 GET '/doors/:searchTerm'
    p This GET route will return a model matching a search string
    p Route: http://localhost:1337/doors/:searchTerm
    p Expected Output:
      div
      pre
      | [{
      |   id: 1
      |   doorModel: Advantage
      |   doorStyle: Raised Panel
      |   doorMaterial: Steel
      |   rValue: 7
      |   costMeter: $$
      | }]
    hr
    h2 POST '/models'
    p This POST route will allow a user to submit a garage door model
    p Route: http://localhost:1337/models
    p Headers: content-type - application/json 
    p Body
      pre
      | [{
      |   "doorModel": "Lancaster"
      |   "doorStyle": "Barn"
      |   "doorMaterial": "Vinyl"
      |   "rValue": "7"  
      |   "costMeter": "$$$"     
      | }]
    p Expected Output:
      div
      pre
      |[{
      |   id: 7
      |   doorModel: Lancaster
      |   doorStyle: Barn
      |   doorMaterial: Vinyl
      |   rValue: 7
      |   costMeter: $$$
      | }]
    hr
    h2 DELETE '/doors/:id'
    p Allows user to delete a door model by id
    p Route: http://localhost:1337/models/:id
    p Expected Output:
    p "Model has been removed"

