html
  head
    link(rel="stylesheet" href="/style.css")
  body
    center
    h1 Garage Door Viewer
    p Browse around a selection of garage door models and search by style, material or available color
    a(href='/doc') View API Documentation
    